@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans&family=Roboto:wght@300;400;500&display=swap');

:root{
    --sign-in-color: #361999;
    --secondary-color:#78fff1;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding:0 90px;
}
.navbar{
    height:70px;
}
.navbar .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo div{
    font-family: '', sans-serif;
    font-size: 28px;
    font-weight: bolder;
    position:absolute;
    top:20px;
    color:var(--sign-in-color)
}
.logo span{
    color:var(--sign-in-color);
    font-size: 32px;
}
.navbar ul{
   list-style-type:none; 
   display:flex;
   margin-top:10px;
   justify-content: space-between;
   align-items: center;
}

.navbar ul li a{
    display:inline-block;
    text-decoration: none;
    color:#000;
    margin:0 10px;
    font-size: 23px;
    font-weight: 400;
}
.navbar li.sign-join a{
    margin-left: 50px;
    color:var(--sign-in-color);
    border:1px solid var(--sign-in-color);
    padding:5px 19px;
    font-size: 24px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out
}
li.sign-join a:hover{
    background:var(--sign-in-color);
    color:#fff;
}
.showcase{
    height: 70vh;
    background:url(../images/deborah-cortelazzi-gREquCUXQLI-unsplash.jpg);
    background-size: cover;
    position: relative;
}
.showcase .showbox{
    position: absolute;
    bottom: -80px;
    background:var(--sign-in-color);
    color:#fff;
    left:50%;
    width:50vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%);
    padding:3rem 3rem;
    border:none;
    border-radius: 5px;
}
.showbox .title{
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 0.4rem;
    color:#2cccc3;
}
.showbox .subtitle{
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: lighter;
    margin-bottom: 30px;
}
#form{
    display:flex;
    align-items:center;
    width:100%;
}
#form .input-field{
    height: 60px;
    width:70%;
    border:none;
    border-radius: 5px;
    margin-right:20px;
}
#form .input-field input{
    width:100%;
    height: 100%;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    padding:0 10px;
}
#form .btn{
    height:49px;
    padding:0 29px;
    border:none;
    border-radius: 5px;
    font-size: 22px;
    margin:0 10px;
    background:var(--secondary-color);
    color:#000;
}
