@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans&family=Roboto:wght@300;400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding:0 90px;
}
.navbar .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: '', sans-serif;
    font-size: 28px;
    font-weight: bolder;
}
.navbar ul{
   list-style-type:none; 
   display:flex;
   justify-content: space-between;
}

.navbar ul li a{
    display:inline-block;
    text-decoration: none;
    color:#000;
    margin:0 10px;
    font-size: 23px;
    font-weight: 400;
}
.navbar ul li.sign-join{
    margin-left: 50px;;
}